*, *::before, *::after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
}

body {
  background: #144453;
}

.weather-app, header,
.search-bar, .current-weather-container,
.current-weather, .current-temperature,  
.weather-forecast-days {
  display: flex;
}

.current-temperature, 
.weather-forecast-information {
  justify-content: center;
  align-items: center;
}

.weather-app, header,
.weather-forecast-days {
  flex-direction: column;
}

.weather-app {
  max-width: 750px;
  margin: 4rem auto;
  border-radius: 10px;
  background-image: linear-gradient(to top right, #0b0a0a61, #0b0a0a30), url(../images/background-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.weather-app, 
.search-input::placeholder, 
.search-button,
footer {
  color: #fff;
}

header {
  width: 100%;
  padding: 1.5rem 2.5rem;
} 

.logo-icon {
  display: block;
  margin: 0.75rem 0;
  width: 120px;
  height: 35px;
}

.search-bar {
  gap: 20px;
}

.search-input {
  width: 80%;
  padding: 1.2rem;
  outline: none;
  border: 0.5px silver solid;
  border-radius: 6px;
  background-color: transparent;
}

.search-input,
.search-input::placeholder {
  font-size: 15px;
}

.search-button {
  font-size: 17px;
  padding: 1.2rem 2.2rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: purple;
}

.search-button:hover {
  cursor: pointer;
}

.current-weather-container {
  width: 100%;
  padding: 0.75rem 2.5rem;
  gap: 10px;
}

.current-weather-container,
.weather-forecast-information,
footer {
  margin-bottom: 1rem;
}

.current-weather {
  flex-direction: column;
  padding: 0 1rem;
}

.current-weather, 
.current-temperature {
  width: 50%;
}

.current-weather h1 {
  font-size: 48px;
}

.current-details {
  font-size: 14px;
  line-height: 2;
}

.humidity-level,
.wind-speed {
  color: purple;
  font-weight: bold;
}

.current-temperature-value {
  font-size: clamp(85px, 1vw, 30px);
}

.current-temperature-unit {
  font-size: 45px;
  position: relative;
  top: -35px;
}

.weather-forecast-information {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 1rem 1.5rem;
  background-color: transparent;
  backdrop-filter: blur(15px);
}

.weather-forecast-data {
  font-size: clamp(15px, 2vw, 13px);
}
 
.weather-forecast-icon {
  width: 40px;
  height: 40px;
}

.weather-forecast-information,
footer {
  text-align: center;
}

footer {
  font-size: 13px;
  padding: 1rem;
}

.current-temperature-value,
a, a:hover {
  font-weight: 400;
}

a {
  color: purple;
  text-decoration: none;
}